<div id="footer">
    <p class="left">
        <a href="@Url.Action("Index","Home")">Trang chủ</a>
        <span>|</span>
        <a href="@Url.Action("Supports","Home")">Hỗ trợ</a>
        <span>|</span>
        <a href="@Url.Action("Login","Home")">Đăng nhập</a>
        <span>|</span>
        <a href="@Url.Action("Register","Home")">Đăng ký</a>
        <span>|</span>
        <a href="@Url.Action("Contact","Home")">Liên hệ</a>
    </p>
    <p class="right">
        Copyright &copy; bởi nhóm 12-ASP.NET MVC 2020
    </p>
</div>
