<div id="sidebar">

    <!-- Search -->
    <div class="box search">
        <h2>Tìm kiếm <span></span></h2>
        <div class="box-content">
            <form action="" method="post">

                <label>Từ khóa</label>
                <input type="text"  placeholder="Từ khóa tìm kiếm..." class="field" />

                <label>Sản phẩm</label>
                <select class="field">
                    <option value="">-- Lựa chọn --</option>
                </select>

                <div class="inline-field">
                    <label>Giá</label>
                    <select class="field small-field">
                        <option value="">100.000 vnd</option>
                    </select>
                    <label> Đến:</label>
                    <select class="field small-field">
                        <option value="">1.000.000 vnd</option>
                    </select>
                </div>

                <input type="submit" class="search-submit" value="Search" />

                <p>
                    <a href="#" class="bul">Tìm kiếm nâng cao</a><br />
                    <a href="#" class="bul">Liên hệ hỗ trợ khách hàng</a>
                </p>

            </form>
        </div>
    </div>
    <!-- End Search -->
    <!-- Categories -->
    <div class="box categories">
        <h2>Sản phẩm <span></span></h2>
        <div class="box-content">
            <ul>
                <li><a href="@Url.Action("List_Products","Home")">Set Quần Áo Nam</a></li>
                <li><a href="@Url.Action("List_Products","Home")">Quần Jeans Nam</a></li>
                <li><a href="@Url.Action("List_Products","Home")">Quần Short Nam</a></li>
                <li><a href="@Url.Action("List_Products","Home")">Quần Tây Nam</a></li>
                <li><a href="@Url.Action("List_Products","Home")">Quần Kaki Nam</a></li>
                <li><a href="@Url.Action("List_Products","Home")">Áo Sơ Mi Nam</a></li>
                <li><a href="@Url.Action("List_Products","Home")">Áo Thun Nam</a></li>
                <li><a href="@Url.Action("List_Products","Home")">Áo Vest Nam</a></li>

                <li class="last"><a href="@Url.Action("List_Products","Home")">Áo Khoác Nam</a></li>
            </ul>
        </div>
    </div>
    <!-- End Categories -->

</div>
