@model IEnumerable<layout.Models.CTDonHang>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hang.TenH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hang.AnhChup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hang.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hang.KichCo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hang.MauSac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Hang.TenH)
    </td>
    <td>
        @{ 
            string ImagePath = "~/wwwroot/IMAGES/" + item.Hang.AnhChup;
        }
        <img src="@Url.Content(ImagePath)" alt="Ảnh" class="img-thumbnail" width="100" height="100"/>
        
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hang.GiaBan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hang.KichCo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hang.MauSac)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SoLuong)
    </td>

    
</tr>
    }

</table>
