@model layout.Models.DonHang

<div class="text-center text-danger text-uppercase">Chi tiết đơn hàng: @Model.MaDH </div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NgayDatHang)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NgayDatHang)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NguoiNhan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NguoiNhan)
                </dd>
            </dl>
        </div><div class="col-lg-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DiaChiNhan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DiaChiNhan)
                </dd>

            </dl>
        </div>
    </div>
    
</div>

