@model layout.Models.CTDonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CTDonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonHang.NguoiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonHang.NguoiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hang.AnhChup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hang.AnhChup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
