@model layout.Models.Hang

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var ImagePath = "~/wwwroot/IMAGES/" + Model.AnhChup;
}


<h2>Chi tiết sản phẩm: @Html.DisplayNameFor(model => model.TenH)</h2>

<div>
    <h4>Hang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DanhMuc.TenDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc.TenDM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhChup)
        </dt>

        <dd>
            <img src="@Url.Content(ImagePath)" id="output" class="img-rounded" alt="Ảnh" width="180" height="200" /><br />
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KichCo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KichCo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MauSac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MauSac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLBan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaH }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
