
@{
    ViewBag.Title = "List_Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="products">
        <div class="cl">&nbsp;</div>
        <ul>
            <li>
                <a href="@Url.Action("Info_Products","Home")"><img src="~/wwwroot/IMAGES/Capture2.PNG" alt="" /></a>
                <div class="product-info">
                    <div class="product-desc">

                        <p>Áo sơ mo nam họa tiết cổ áo Hàn Quốc<br /></p>
                        <strong class="price">395.000 vnd</strong>
                    </div>
                </div>
            </li>
            <li>
                <a href="@Url.Action("Info_Products","Home")"><img src="~/wwwroot/IMAGES/Capture3.PNG" alt="" /></a>
                <div class="product-info">

                    <div class="product-desc">

                        <p>Áo sơ mi nam thời trang tay dài Hàn Quốc<br /></p>
                        <strong class="price">395.000 vnd</strong>
                    </div>
                </div>
            </li>
            <li class="last">
                <a href="@Url.Action("Info_Products","Home")"><img src="~/wwwroot/IMAGES/Capture4.PNG" alt="" /></a>
                <div class="product-info">

                    <div class="product-desc">

                        <p>Áo sơ mi nam thuê cổ đen Hàn Quốc<br /></p>
                        <strong class="price">395.000 vnd</strong>
                    </div>
                </div>
            </li>
            <li>
                <a href="@Url.Action("Info_Products","Home")"><img src="~/wwwroot/IMAGES/Capture2.PNG" alt="" /></a>
                <div class="product-info">
                    <div class="product-desc">

                        <p>Áo sơ mo nam họa tiết cổ áo Hàn Quốc<br /></p>
                        <strong class="price">395.000 vnd</strong>
                    </div>
                </div>
            </li>
            <li>
                <a href="@Url.Action("Info_Products","Home")"><img src="~/wwwroot/IMAGES/Capture3.PNG" alt="" /></a>
                <div class="product-info">

                    <div class="product-desc">

                        <p>Áo sơ mi nam thời trang tay dài Hàn Quốc<br /></p>
                        <strong class="price">395.000 vnd</strong>
                    </div>
                </div>
            </li>
            <li class="last">
                <a href="@Url.Action("Info_Products","Home")"><img src="~/wwwroot/IMAGES/Capture4.PNG" alt="" /></a>
                <div class="product-info">

                    <div class="product-desc">

                        <p>Áo sơ mi nam thuê cổ đen Hàn Quốc<br /></p>
                        <strong class="price">395.000 vnd</strong>
                    </div>
                </div>
            </li>
            <li>
                <a href="@Url.Action("Info_Products","Home")"><img src="~/wwwroot/IMAGES/Capture2.PNG" alt="" /></a>
                <div class="product-info">
                    <div class="product-desc">

                        <p>Áo sơ mo nam họa tiết cổ áo Hàn Quốc<br /></p>
                        <strong class="price">395.000 vnd</strong>
                    </div>
                </div>
            </li>
            <li>
                <a href="@Url.Action("Info_Products","Home")"><img src="~/wwwroot/IMAGES/Capture3.PNG" alt="" /></a>
                <div class="product-info">

                    <div class="product-desc">

                        <p>Áo sơ mi nam thời trang tay dài Hàn Quốc<br /></p>
                        <strong class="price">395.000 vnd</strong>
                    </div>
                </div>
            </li>
            <li class="last">
                <a href="@Url.Action("Info_Products","Home")"><img src="~/wwwroot/IMAGES/Capture4.PNG" alt="" /></a>
                <div class="product-info">

                    <div class="product-desc">

                        <p>Áo sơ mi nam thuê cổ đen Hàn Quốc<br /></p>
                        <strong class="price">395.000 vnd</strong>
                    </div>
                </div>
            </li>
        </ul>
        <div class="cl">&nbsp;</div>
    </div>

</div>

